body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}
button{
    background-color: lightblue;
    font-size: small;
    font-weight: lighter;
    color: black;
}